body {
	background-color: olive;
	background-image: url(https://blog.covest.com/hs-fs/hub/363958/file-1478380145-png/membersICON.png?t=1529069282382);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: bottom right; 
}



